/* FONTS Poppins - Lora - Hind Madurai */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora:wght@500&family=Montserrat:wght@900&family=Poppins:wght@400;500&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

h2 {
  color: #007aff;
  font-family: "Lora", serif;
  font-weight: 500;
}

p {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.tittle_text {
  font-size: 3.1rem;
}

/* CAROUSEL */

.carousel_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel_item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

.carousel_img {
  width: 100%;
  height: 38rem;
}

.carousel_indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.carousel_indicator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 0 0.5rem;
}

.carousel_indicator.active {
  background-color: white;
}

.carousel_control-prev,
.carousel_control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn_nav {
  width: 1.5rem;
  height: 1.5rem;
}

.carousel_control-prev {
  left: 1rem;
}

.carousel_control-next {
  right: 1rem;
}

.carousel_control-prev:hover,
.carousel_control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* SECTION NAME PROPERTY AND PRICE */

.main_container {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  padding: 3rem;
}

.header_information {
  display: flex;
  justify-content: space-between;
}

.ubication_name_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.name_property_container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.ubication_container {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}

.text_subtittle {
  font-size: 2.5rem;
}

.svg_icon_ubication {
  width: 1.5rem;
  height: 1.5rem;
}

.text_ubication {
  color: #000000;
  font-size: 1.25rem;
}

.button_verify {
  display: flex;
  padding: 0;
  height: 6rem;
  padding: 1.25rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  background: #007aff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_verify:hover {
  background: #0062cc;
  transform: scale(1.021);
  transition: transform 0.3s ease;
}

.text_button {
  color: #fff;
  font-size: 1.56rem;
}

.svg_icon_button {
  width: 1.5rem;
  height: 1.5rem;
  color: #f50808;
}

.text_cost_property {
  font-size: 2.81rem;
  margin-top: 2.5rem;
  color: #000000;
  font-weight: 600;
}

/* SECTION NAME PROPERTY AND PRICE */

.container_subtittle {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.text_description_property {
  text-align: justify;
  line-height: 1.5;
  font-size: 1.87rem;
}

/* SECTION DETAIL */

.icons_container {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.icon_hover_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  transition: transform 0.3s ease;
  align-items: center;
}

.icon_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_detail {
  width: 4.5rem;
  height: 4.5rem;
}

.icon_hover_container:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.text_detail {
  color: #0051a9;
  text-align: center;
  font-size: 1.87rem;
}

/* MODAL */
.modal_container {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}
.modal {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  background-color: #fefefe;
  border: none;
  border-radius: 2rem;
  align-items: center;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.text_header_modal {
  color: #000000;
  font-size: 2.81rem;
}

.icon_close_modal {
  width: 2.5rem;
  top: 0.5rem;
  left: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.inputs_modal_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 70rem;
}
.input_container {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  position: relative;
}
.input_data {
  border: 1px solid #999;
  background-color: transparent;
  border-radius: 0.62;
  width: 30rem;
  height: 3.5rem;
  margin-top: 0.2rem;
  padding: 0.75rem 0.93rem;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  transition-duration: 0.3s;
  font-family: "Poppins", sans-serif;
}
.label_input_container {
  display: flex;
  top: -1.43rem;
  left: -0.93rem;
  transition: 0.2s linear;
  opacity: 0;
  position: absolute;
  column-gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.label_input {
  font-size: 0.9rem;
  font-weight: 400;
  color: #999;
  font-family: "Poppins", sans-serif;

  overflow: hidden;
  font-weight: 500;
}
.icon_input {
  width: 1rem;
  fill: #999;
  height: 1rem;
}

.input_data:focus ~ .label_input_container,
.input_data:valid ~ .label_input_container {
  transform: translateX(20px);
  opacity: 1;
}

.input_data:focus,
.input_data:valid {
  background-color: #dddddd88;
  transition-duration: 0.3s;
}
/* INPUT CHECK IN / OUT */
.input_check_in_out_container {
  border: 1px solid #999;
  display: flex;
  column-gap: 2rem;
  margin-top: 0.2rem;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 0.62;
  width: 30rem;
  height: 3.5rem;
  padding: 0.75rem 0.93rem;
}

.check_container {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.check_input_container {
  display: flex;
  row-gap: 0.2rem;
  flex-direction: column;
}

.icon_input_check {
  width: 2rem;
  fill: #999;
  height: 2rem;
  cursor: pointer;
}

.text_input_check {
  color: #7d7d7d;
  font-size: 1.2rem;
}
.date_check_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.18rem;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.counter_container {
  display: flex;
  column-gap: 5rem;
}
.icon_counter {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.counter_element {
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
}
.occupants_count_contianer {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  align-items: center;
}
.counter_text {
  font-size: 3.75rem;
}
.occupant_text {
  color: #999;
  font-size: 1.56rem;
}
/* BUTTON FORM */
.button_form {
  display: inline-block;
  padding: 0.7rem 1.6rem;
  font-size: 1rem;
  color: #007aff;
  font-weight: 700;
  border-radius: 1rem;
  border: 3px solid #007aff;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}
.button_form:hover {
  color: #fff;
}
.button_form::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #007aff;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.button_form:hover::before {
  transform: translateX(0);
}
.text_button_modal {
  font-size: 1.3rem;
}
.text_modal_success {
  text-align: center;
  color: #000000;
  width: 30rem;
  font-size: 1.75rem;
  font-weight: 650;
}
.icon_approval {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .header_container {
    padding: 1rem;
  }

  .tittle_text {
    font-size: 1.5rem;
  }

  .icon_user {
    width: 2.5rem;
    height: 2.5rem;
  }

  .carousel_img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  /* SECTION NAME PROPERTY AND PRICE */
  .main_container {
    padding: 1.2rem;
    row-gap: 3rem;
  }

  .header_information {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .ubication_name_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .name_property_container {
    row-gap: 0.8rem;
  }

  .text_subtittle {
    font-size: 1.8rem;
  }

  .svg_icon_ubication,
  .svg_icon_button {
    width: 1rem;
    height: 1rem;
  }

  .text_ubication {
    font-size: 0.875rem;
  }

  .button_verify {
    padding: 1.25rem;
    height: 2rem;
  }

  .text_cost_property {
    font-size: 2.2rem;
    margin-top: 0;
  }

  /* SECTION DESCRIPTION PROPERTY */
  .text_description_property {
    font-size: 1rem;
  }

  /* SECTION DETAILS */
  .text_detail {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .icon_detail {
    width: 3rem;
    height: 3rem;
  }
  /* MODAL */
  .modal {
    width: 90%;
    row-gap: 2rem;
    padding: 1.8rem;
  }

  .header_modal {
    column-gap: 1rem;
  }

  .text_header_modal {
    font-size: 1.5rem;
  }

  .icon_close_modal {
    width: 1.5rem;
    height: 1.5rem;
  }

  .inputs_modal_container {
    gap: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }

  .input_container {
    row-gap: 0.5rem;
  }

  .input_data {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
  }

  .label_input {
    font-size: 0.8rem;
  }

  .input_check_in_out_container {
    gap: 1rem;
    max-width: 100%;
    padding: 0.5rem 0.7rem;
  }

  .check_container {
    column-gap: 1rem;
  }

  .icon_input_check {
    width: 1.5rem;
    height: 1.5rem;
  }
  .text_input_check {
    font-size: 0.9rem;
  }
  .date_check_text {
    font-size: 1rem;
  }
  .counter_container {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }

  .occupants_count_contianer {
    width: 3.8rem;
  }

  .counter_element {
    column-gap: 0.3rem;
  }

  .icon_counter {
    width: 2.5rem;
    height: 2.5rem;
  }

  .counter_text {
    font-size: 2rem;
  }

  .occupant_text {
    font-size: 1rem;
  }

  .button_form {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }

  .text_button {
    font-size: 1rem;
  }

  .text_modal_success {
    width: 100%;
    font-size: 1.5rem;
  }
}
